.classes {
    background-color: #ffc0cb;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

#Number2 {
    color: #0000ff;
    font-size: 36px;
    font-family:Verdana, sans-serif;
}

#Number4 {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
    font-family:'Trebuchet MS', sans-serif;
}
